.recipe {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
    margin: 15px;
    padding: 5px 8px;
    flex: 1 1 1;
    max-width: 700px;
}

.title {
    text-align: center;
    font-weight: 500;
    margin-top: 8px auto;
  }

.img {
    height: 300px;
    width: 400px;
    margin: 5px auto;
    border: 1px solid lightcoral;
}

.calories {
    font-size: 2rem;
    margin: 1rem auto;
    font-weight: 300;
}